<nav id="sidebar" class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar shadow position-fixed" style="float: left">
    <ul class="nav nav-pills flex-column nav-lig">
        <li class="nav-item">
            <a class="nav-link btn-outline-dark my-2" href="{{ path('profile') }}">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-outline-dark my-2" href="{{ path('logout') }}">Logout</a>
        </li>
    </ul>
</nav>